/* You can add global styles to this file, and also import other style files */
@import "~quill/dist/quill.snow.css";
@import 'https://unpkg.com/quill-better-table@1.2.4/dist/quill-better-table.css';
@import '//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css';

  quill-editor {
    display: inline-block;
    width: 80vw;
    height: 100vh;
  }
  .ql-editor:focus {
    border: 1px solid #80bdff !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
  }
  .comments{
    display: inline-block;
    width: 20vw;
  }
  .ng-invalid {
    border: 1px dashed red;
  }
  .padd{
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  ul{
    list-style: none;
    padding: 0;
  }
  li:first-child{
    font-weight: bold;
  }
  .padd:hover{
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .resolve{
    color: blue;
    background-color: white;
    padding: 2px;
    border: 1px solid black;
    border-radius: 3px;
    height: 25px;
  }
  .resolve:hover{
    background-color: blue;
    color: white;
    border: 1px solid blue;
  }
  /* Set dropdown font-families */
  
  [quill-editor-toolbar] .ql-font span[data-label="Aref Ruqaa"]::before {
    font-family: "Aref Ruqaa";
  }
  
  [quill-editor-toolbar] .ql-font span[data-label="Mirza"]::before {
    font-family: "Mirza";
  }
  
  [quill-editor-toolbar] .ql-font span[data-label="Roboto"]::before {
    font-family: "Roboto";
  }
  
  /* Set content font-families */
  
  .ql-font-mirza {
    font-family: "Mirza";
  }
  
  .ql-font-aref {
    font-family: "Aref Ruqaa";
  }
  
  .ql-font-roboto {
    font-family: "Roboto";
  }
  
  pre {
    background-color: #fcfcfc;
    padding: 5px;
    border: 1px solid #b2b2b2;
    color: #363030;
  }
  app-editor{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }